body {
	padding-top: 50px;
}

h2 {
	font-size: 180%;
}

footer {
	background-color: grey;
}

footer .container {
    padding-bottom: 16px;
    padding-top: 16px;
}

.glyphicon {
	font-size:800%;
}

.jumbotron {
	background: linear-gradient(#ADD8E6 0%, #FDFDFD 50%, #FDFDFD 100%) repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #DDDDDD;
}

#homepage-main {
	background-color: #90EE90;
    padding-bottom: 48px;
    padding-top: 48px;
}

#homepage-main .container .col-md-4 .glyphicon,
#homepage-main .container .col-md-4 h2,
#homepage-main .container .col-md-4 p.glyph,
#homepage-main .container .col-md-4 p.button {
	text-align: center;
}

#homepage-main .container .col-md-4 p.text {
	text-align: justify;
}

.glyphicon-pencil {
	color: royalblue;
}

.glyphicon-hand-up {
	color: mediumseagreen;
}

.glyphicon-signal {
	color: green;
}