    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5></h5>
            <ul class="list-unstyled">
              <li>Contact</li>
              <li></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Keep up to date with us</h5>
            <div class="well" id="mc_embed_signup">
              <fieldset>
                <legend>Subscribe to our mailing list</legend>
                <form action="http://sycamoreconsulting.us6.list-manage.com/subscribe/post?u=61980630597bc611b361c5f57&amp;id=b6fda103fd" class="form-horizontal" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" role="form" target="_blank" novalidate="">
                  <div class="form-group">
                    <label class="input-sm col-xs-4 control-label" for="mce-EMAIL">Email</label>
                    <div class="col-xs-8">
                      <input type="email" class="input-sm form-control" id="mce-EMAIL" maxlength="255" name="EMAIL" placeholder="Email" value="" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="input-sm col-xs-4 control-label" for="mce-FNAME">First Name</label>
                    <div class="col-xs-8">
                      <input type="text" class="input-sm form-control" id="mce-FNAME" minlength="2" maxlength="64" name="FNAME" placeholder="First Name" value="" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="input-sm col-xs-4 control-label" for="mce-LNAME">Surname</label>
                    <div class="col-xs-8">
                      <input type="text" class="input-sm form-control" id="mce-LNAME" minlength="2" maxlength="64" placeholder="Surname" value="" name="LNAME" />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-xs-4 col-xs-offset-8">
                      <input type="submit" value="Subscribe" id="mc-embedded-subscribe" name="subscribe" class="btn btn-sm btn-success" />
                    </div>
                  </div>
                </form>
              </fieldset>
            </div>
            <ul class="list-unstyled">
              <li><a href="https://www.facebook.com/SycamoreConsultingUK">Facebook</a></li>
              <li><a href="https://twitter.com/SycamoreConsult">Twitter</a></li>
              <li><a href="http://www.linkedin.com/company/sycamore-consulting-uk-limited">LinkedIn</a></li>
              <li><a href="https://www.google.com/+SycamoreconsultingCoUk" rel="publisher">Google+</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5></h5>
          </div>
        </div>
        <p>&copy; Sycamore Consulting (UK) Limited 2014</p>
      </div>
    </footer>