    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h5></h5>
            <ul class="list-unstyled">
              <li>Contact</li>
              <li></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5>Keep up to date with us</h5>
<!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
              <form action="http://sycamoreconsulting.us6.list-manage.com/subscribe/post?u=61980630597bc611b361c5f57&amp;id=b6fda103fd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" role="form" class="validate form-horizonal" target="_blank" novalidate>
                <h6>Subscribe to our mailing list</h6>
                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                <div class="mc-field-group form-group">
                  <label for="mce-EMAIL" class="control-label">Email <span class="asterisk">*</span></label>
                  <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
                </div>
                <div class="mc-field-group form-group">
                  <label for="mce-FNAME" class="control-label">First Name </label>
                  <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
                </div>
                <div class="mc-field-group form-group">
                  <label for="mce-LNAME" class="control-label">Last Name </label>
                  <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
                </div>
                <div id="mce-responses" class="clear">
                  <div class="response" id="mce-error-response"></div>
                  <div class="response" id="mce-success-response"></div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div id="mce-hidden-field">
                  <input type="text" name="b_61980630597bc611b361c5f57_b6fda103fd" value="">
                </div>
                <div class="clear">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
              </form>
            </div>
<!--End mc_embed_signup-->
            <ul class="list-unstyled">
              <li><a href="https://www.facebook.com/SycamoreConsultingUK">Facebook</a></li>
              <li><a href="https://twitter.com/SycamoreConsult">Twitter</a></li>
              <li><a href="http://www.linkedin.com/company/sycamore-consulting-uk-limited">LinkedIn</a></li>
              <li><a href="https://plus.google.com/111050192811991912435" rel="publisher">Google+</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h5></h5>
          </div>
        </div>
        <p>&copy; Sycamore Consulting (UK) Limited 2014</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" href="/js/mailchimp.js"></script>