    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h6></h6>
            <ul class="list-unstyled">
              <li>Contact</li>
              <li></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h6>Keep up to date with us</h6>
            <form class="form-horizontal">
              <input type="text" id="email" />
              <input type="submit" value="Sign Up" />
            </form>
            <ul class="list-unstyled">
              <li>Facebook</li>
              <li>Twitter</li>
              <li>LinkedIn</li>
            </ul>
          </div>
          <div class="col-md-4">
            <h6></h6>
          </div>
        </div>
        <p>&copy; Sycamore Consulting (UK) Limited 2014</p>
      </div>
    </footer>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>