    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Sycamore Consulting</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="/web-design/">Web Design</a>
            </li>
            <li>
              <a href="/pay-per-click-marketing/">PPC</a>
            </li>
            <li>
              <a href="/conversion-rate-optimisation/">Conversion Rate Optimisation</a>
            </li>
          </ul>
        </div>
      </div>
    </div>