    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="/">Sycamore Consulting</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="left">
          <li>
            <a href="/website-design/">Web Design</a>
          </li>
          <li>
            <a href="/pay-per-click-marketing/">PPC</a>
          </li>
          <li>
            <a href="/conversion-rate-optimisation/">Conversion Optimisation</a>
          </li>
        </ul>

        <ul class="right">
<!--          <li>
            <div class="fb-like" data-href="https://www.facebook.com/SycamoreConsultingUK" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
          </li>
-->
          <li>
            <a href="tel:+441606828418">01606 828418</a>
          </li>
        </ul>
      </section>
    </nav>