@import "settings";
// @import "foundation";
@import "roboto";

// Or selectively include components
//@import
//  "foundation/components/accordion",
//  "foundation/components/alert-boxes",
//  "foundation/components/block-grid",
//  "foundation/components/breadcrumbs",
//  "foundation/components/button-groups",
//  "foundation/components/buttons",
//  "foundation/components/clearing",
//  "foundation/components/dropdown",
//  "foundation/components/dropdown-buttons",
//  "foundation/components/flex-video",
//  "foundation/components/forms",
//  "foundation/components/grid",
//  "foundation/components/inline-lists",
//  "foundation/components/joyride",
//  "foundation/components/keystrokes",
//  "foundation/components/labels",
//  "foundation/components/magellan",
//  "foundation/components/orbit",
//  "foundation/components/pagination",
//  "foundation/components/panels",
//  "foundation/components/pricing-tables",
//  "foundation/components/progress-bars",
//  "foundation/components/reveal",
//  "foundation/components/side-nav",
//  "foundation/components/split-buttons",
//  "foundation/components/sub-nav",
//  "foundation/components/switches",
//  "foundation/components/tables",
//  "foundation/components/tabs",
//  "foundation/components/thumbs",
//  "foundation/components/tooltips",
//  "foundation/components/top-bar",
//  "foundation/components/type",
//  "foundation/components/offcanvas",
//  "foundation/components/visibility";


//  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
//  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
@import "variables";
@import "mixins";
@import "path";
@import "core";
@import "larger";
@import "fixed-width";
@import "list";
@import "bordered-pulled";
@import "animated";
@import "rotated-flipped";
@import "stacked";
@import "icons";



      #homepage-more-info {
        background: lavender;
        height: 650px;
        padding: 70px 20px 0;
        position: relative;
        text-align: left;
      }

      #homepage-more-info h4 {
        font-size: 1.3rem;
      }

      #homepage-more-info h2,
      #homepage-more-info h4,
      #homepage-more-info p {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
      }




      #main {
        background: lightblue;
        padding: 100px 20px 0;
        position: relative;
        text-align: left;
      }

      #main h6,
      #main h5,
      #main h4,
      #main h3,
      #main h2,
      #main h1,
      #main a,
      #main p,
      #main li {
        font-family: 'Roboto', sans-serif;
        font-weight: 100 !important;
      }

      #main h5 {
        font-weight: 500;
      }

      .centered-text {
        text-align: center;
      }

      .product-icons img {
        margin: 1rem 0 0;
        max-height: 200px;
        padding: 20px;
      }

      #newsletter {
        background: none repeat scroll 0 0 #085a78;
        padding: 20px 0 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 100 !important;
      }

      #main-footer {
        background: none repeat scroll 0 0 #074e68;
        padding: 20px 0 0;
      }

      #main-footer h5,
      #main-footer li {
        font-family: 'Roboto', sans-serif;
        font-weight: 100 !important;
        color: #fff;
      }

      #bottom-footer {
        background: #333;
        color: #ccc;
        font-family: 'Roboto', sans-serif;
        font-weight: 100 !important;
      }

      #bottom-footer p {
        font-size: 80%;
        font-weight: 100;
        font-family: 'Roboto', sans-serif;
        margin-top:16px;
      }